# Compiled Source #
###################
*.a
*.la
*.lo
*.o
*.so
*.pyc
*_wrap.cpp

# Packaging Files #
###################
debian/*.debhelper.log
debian/*.substvars
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files

debian/libsaimetadata-dbg/
debian/libsaimetadata-dev/
debian/libsaimetadata/
debian/libsairedis-dbg/
debian/libsairedis-dev/
debian/libsairedis/
debian/libsaivs-dbg/
debian/libsaivs-dev/
debian/libsaivs/
debian/syncd-dbg/
debian/syncd-rpc-dbg/
debian/syncd-rpc/
debian/syncd-vs-dbg/
debian/syncd-vs/
debian/syncd/
debian/tmp/

**/.deps/
**/.dirstamp
**/.libs/
**/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
aminclude_static.am
config.h
config.h.in
config.log
config.status
config/
configure
libtool
m4/
stamp-h1

python/build/
python/setup.py

# Test Files #
##############
meta/test-suite.log
meta/tests.log
meta/tests.trs

syncd/test-suite.log
syncd/tests

tests/applyview.log
tests/brcm.pl.log
tests/brcm.pl.trs
tests/mlnx.pl.log
tests/mlnx.pl.trs
tests/sai_warmboot.bin
tests/swsslogentercheck.sh.log
tests/swsslogentercheck.sh.trs
tests/test-suite.log

vslib/src/test-suite.log
vslib/src/tests
vslib/src/tests.log
vslib/src/tests.trs

# Dependency Folder #
#####################
deps/

# Executables #
###############
lib/src/tests
meta/tests
saidiscovery/saidiscovery
saidump/saidump
saiplayer/saiplayer
saisdkdump/saisdkdump
syncd/syncd
syncd/syncd_request_shutdown
tests/syncd
tests/vssyncd
saiasiccmp/saiasiccmp
tests/tests
tests/testclient

# Temporary files #
###################
**/*~
**/*.rec
**/*.swp
**/*.swo
**/*.gcda
**/*.gcno
**/*.gcov

tests/applyview.log
tests/sai_warmboot.bin.bak
tests/sai_warmboot.bin
tests/[0-9]*

pyext/py2/pysairedis.py
pyext/py3/pysairedis.py
pyext/pysairedis.py
